In [1]:
print("Hello World")

Hello World

In [2]:
"Hello " + "World"

'Hello World'

In [3]:
goodname = input("What is Your Good Name?")
print("Hello!",goodname +". Nice to Meet You")

What is Your Good Name?ab
Hello! ab. Nice to Meet You

## 1. Simple Maths

(Arithmetic Operator)

In [4]:
1+1

2

In [5]:
print(5*2)

10

In [6]:
print("Addition:",2+2)
print("Subtraction:",20-2)
print("Division:",15/2)
print("Floor Division:",15//2)
print("Modulus:",75%7)  # Reminder
print("Multiplication:",2*3)
print("Exponential:",2**3)

Addition: 4
Subtraction: 18
Division: 7.5
Floor Division: 7
Modulus: 5
Multiplication: 6
Exponential: 8

## 2. Intermediate Maths
(Math Variables!)

In [7]:
a = 85
b = 7

In [8]:
print("Addition:",a+b)
print("Subtraction:",a-b)
print("Division:",a/b)
print("Floor Division:",a//b)
print("Modulus:",a%b)  # Reminder
print("Multiplication:",a*b)
print("Exponential:",a**b)

Addition: 92
Subtraction: 78
Division: 12.142857142857142
Floor Division: 12
Modulus: 1
Multiplication: 595
Exponential: 32057708828125

In [9]:
import sys
a = 85/7
print("My Value is:",a)
print("My size is:",sys.getsizeof(a))

My Value is: 12.142857142857142
My size is: 24

### 2.1 Variables 

![Var?](./img/var%3F.jpg)


![Var_Bin](./img/Variable_bin.jpg)

![Var_Assign](./img/Var_Assign.png)

### Let's try !!!

-----

### Let's do Assignments

In [10]:
w = True
x = 15
y = 15.15
z = "Fifteen point Fifteen"
w,x,y,z

(True, 15, 15.15, 'Fifteen point Fifteen')

----
### Type Checking / Verification

In [11]:
print("I am w with a value of",w,"and My type is", type(w))
print("I am x with a value of",x,"and My type is", type(x))
print("I am y with a value of",y,"and My type is", type(y))
print("I am z with a value of",z,"and My type is", type(z))

I am w with a value of True and My type is <class 'bool'>
I am x with a value of 15 and My type is <class 'int'>
I am y with a value of 15.15 and My type is <class 'float'>
I am z with a value of Fifteen point Fifteen and My type is <class 'str'>

In [12]:
type(x)

int

In [13]:
type(w),type(x),type(y),type(z)

(bool, int, float, str)

In [14]:
w,x,y,z = False,"Abhay",2721,99.999
w,x,y,z

(False, 'Abhay', 2721, 99.999)

In [16]:
w=x=y=z="God"

----
#### We learnt Simple Data Types
    1. String  / str
    2. Integer / int
    3. Float   / float
    4. Boolean / bool
----    

### Other Datatypes

![Func](./img/pyDT.jpg)

In [15]:
# Complex Numbers
import cmath,math
a = 5+2j
b = 6-3j
a+b

(11-1j)

### List 

![A](./img/python-list.jpg)

In [34]:
# Introduction to Python Lists

# Creating a list
my_list = [1, 2, 3, 4, 5]
my_list

[1, 2, 3, 4, 5]

In [17]:
# Accessing elements
first_element = my_list[0]
last_element = my_list[-1]
print(first_element)
print(last_element)

1
5

In [18]:
# Slicing a list
sliced_list = my_list[1:4]  # Returns [2, 3, 4]

sliced_list

[2, 3, 4]

In [19]:
# Modifying elements
my_list[2] = 10
my_list

[1, 2, 10, 4, 5]

In [20]:
# Appending elements
my_list.append(6)  # Adds 6 to the end of the list
my_list

[1, 2, 10, 4, 5, 6]

In [21]:
# Inserting elements
my_list.insert(2, 7)  # Inserts 7 at index 2
my_list

[1, 2, 7, 10, 4, 5, 6]

In [22]:

# Removing elements
my_list.remove(4)  # Removes the first occurrence of 4

my_list

[1, 2, 7, 10, 5, 6]

In [23]:
# Popping elements
popped_element = my_list.pop()  # Removes and returns the last element

popped_element

6

In [24]:
# List length
list_length = len(my_list)
print(list_length)

5

In [14]:
# Sorting a list
my_list.sort()  # Sorts the list in ascending order
my_list.sort(reverse=True)  # Sorts the list in descending order
my_list

[]

In [25]:
# Reversing a list
my_list.reverse()  # Reverses the list

In [27]:
# Nested lists
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
nested_list

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [33]:
# List comprehension
squared_numbers = [x**2 for x in my_list]
print(squared_numbers)

[]

In [37]:
mysterious = [x for x in my_list if x & 1 ]
mysterious

[1, 3, 5]

In [30]:
# Checking if an element is in the list
is_present = 10 in my_list
is_present

True

In [31]:
# Maximum and minimum elements
maximum_element = max(my_list)
minimum_element = min(my_list)
print(maximum_element)
print(minimum_element)

10
1

In [32]:
print("Before:",my_list)
my_list.clear()  # Removes all elements from the list
print("After:",my_list)

Before: [5, 10, 7, 2, 1]
After: []

### Tuple 

![A](./img/python-tuple.jpg)

In [ ]:
# Creating a tuple
my_tuple = (1, 2, 3, 4, 5)

In [ ]:
# Accessing elements
first_element = my_tuple[0]
last_element = my_tuple[-1]

In [ ]:
# Slicing a tuple
sliced_tuple = my_tuple[1:4]  # Returns (2, 3, 4)

In [ ]:
# Tuple unpacking
a, b, c, d, e = my_tuple  # Unpacks the tuple into individual variables

In [ ]:
# Length of a tuple
tuple_length = len(my_tuple)

In [ ]:
# Concatenating tuples
concatenated_tuple = my_tuple + (6, 7, 8)

In [ ]:
# Repetition
repeated_tuple = my_tuple * 2  # Repeats the tuple (1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [ ]:
# Nested tuples
nested_tuple = ((1, 2), (3, 4), (5, 6))

In [ ]:
# Checking if an element is in the tuple
is_present = 3 in my_tuple

In [ ]:
# Maximum and minimum elements
maximum_element = max(my_tuple)
minimum_element = min(my_tuple)

In [ ]:
# Index of an element
# Returns the index of the first occurrence of 3
index_of_element = my_tuple.index(3)

In [ ]:
# Count occurrences of an element
count_of_element = my_tuple.count(3)  # Returns the number of occurrences of 3

In [ ]:
# Converting a list to a tuple
my_list = [1, 2, 3]
tuple_from_list = tuple(my_list)

# Note: Tuples are immutable, so you cannot modify, add, or remove elements after creation.

### Strings 

![A](./img/python-strings.png)

In [ ]:

# Introduction to Python Strings

# Creating strings
string1 = "Hello, World!"
string2 = 'Python Programming'

In [ ]:

# Accessing characters
first_char = string1[0]
last_char = string1[-1]

In [ ]:

# Note: Strings in Python are immutable, so methods that modify strings actually return new strings.

# Slicing strings
sliced_string = string1[7:]  # Returns "World!"

In [ ]:
# Concatenation
concatenated_string = string1 + " " + string2  # Combines the two strings

In [ ]:

# String repetition
repeated_string = string1 * 3  # Repeats the string "Hello, World!" three times

In [ ]:
# Length of a string
string_length = len(string1)

In [ ]:

# String methods
uppercase_string = string1.upper()  # Converts to uppercase: "HELLO, WORLD!"
lowercase_string = string2.lower()  # Converts to lowercase: "python programming"
# Capitalizes the first letter: "Python programming"
capitalized_string = string2.capitalize()
# Converts to titlecase: "Python Programming"
titlecased_string = string2.title()

In [ ]:
# Checking if a string contains a substring
contains_substring = "Hello" in string1

In [ ]:
# String formatting
name = "Alice"
age = 30
formatted_string = f"My name is {name} and I am {age} years old."

In [ ]:
# String splitting
sentence = "This is a sample sentence."
# Splits the sentence into words: ["This", "is", "a", "sample", "sentence."]
words = sentence.split()

In [ ]:
# Joining strings
word_list = ["Hello", "World"]
# Joins the list into a string: "Hello World"
joined_string = " ".join(word_list)

In [ ]:
# Stripping whitespace
whitespace_string = "  This is a string with whitespace around it.  "
# Removes leading and trailing whitespace
stripped_string = whitespace_string.strip()

In [ ]:
# Replacing substrings
original_string = "I like cats."
# Replaces "cats" with "dogs": "I like dogs."
new_string = original_string.replace("cats", "dogs")

In [ ]:
# Checking string start and end
starts_with = original_string.startswith("I like")  # True if the string starts with "I like"
ends_with = original_string.endswith("dogs.")  # True if the string ends with "dogs."

In [ ]:

# String formatting with placeholders
formatted_string = "Hello, {}!".format(
    "Alice")  # Formats the string with "Alice"

In [ ]:
# String indexing
# Returns the index of 'W' in "Hello, World!"
char_at_index = string1.index('W')

In [ ]:
# Removing specific characters from a string
string_with_chars = "Hello, [World]!"
chars_to_remove = "[!]"
cleaned_string = ''.join(
    char for char in string_with_chars if char not in chars_to_remove)

### Dictionary 

![A](./img/python-dict.jpg)

In [ ]:
# Introduction to Python Dictionaries

# Creating a dictionary
my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "Wonderland"
}

In [ ]:

# Accessing values using keys
name = my_dict["name"]
age = my_dict["age"]

In [ ]:

# Modifying values
my_dict["age"] = 31

# Adding new key-value pairs
my_dict["gender"] = "Female"

In [ ]:
# Removing a key-value pair
# Removes the key "city" and returns its value
removed_value = my_dict.pop("city")

# Dictionary length
dict_length = len(my_dict)

In [ ]:


# Checking if a key is in the dictionary
is_present = "name" in my_dict

In [ ]:


# Dictionary keys, values, and items
keys = my_dict.keys()  # Returns a list of keys: ["name", "age", "gender"]
values = my_dict.values()  # Returns a list of values: ["Alice", 31, "Female"]
# Returns a list of key-value tuples: [("name", "Alice"), ("age", 31), ("gender", "Female")]
items = my_dict.items()

In [ ]:

# Copying a dictionary
new_dict = my_dict.copy()

In [ ]:
# Nested dictionaries
nested_dict = {
    "person": {
        "name": "Bob",
        "age": 25
    },
    "address": {
        "city": "Exampleville",
        "zip": "12345"
    }
}

In [ ]:

# Dictionary comprehension
# {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
squared_numbers = {x: x**2 for x in range(1, 6)}

In [ ]:
# Clearing a dictionary
my_dict.clear()  # Removes all key-value pairs from the dictionary

In [40]:
numbers = [i for i in range(0,20)]
labeled = {i:"Odd" if i & 1 else "Even" for i in numbers }
labeled

{0: 'Even',
 1: 'Odd',
 2: 'Even',
 3: 'Odd',
 4: 'Even',
 5: 'Odd',
 6: 'Even',
 7: 'Odd',
 8: 'Even',
 9: 'Odd',
 10: 'Even',
 11: 'Odd',
 12: 'Even',
 13: 'Odd',
 14: 'Even',
 15: 'Odd',
 16: 'Even',
 17: 'Odd',
 18: 'Even',
 19: 'Odd'}